# Try and Fail

In [14]:
import pandas as pd
import numpy as np

In [15]:
table_counties_df = pd.read_csv('Table_Counties_Data.csv', sep=';')

In [16]:
table_counties_df.head()

   county_zipcode  county_name  county_population
0           98001       Auburn            31911.0
1           98002       Auburn            31647.0
2           98003  Federal Way            44151.0
3           98004     Bellevue            27946.0
4           98005     Bellevue            17714.0

In [17]:
table_counties_df.shape

(126, 3)

In [18]:
table_counties_df.dtypes

county_zipcode         int64
county_name           object
county_population    float64
dtype: object

In [20]:
table_counties_df.dropna(inplace = True)

In [21]:
table_counties_df.shape

(84, 3)

In [22]:
table_counties_df['county_population'] = table_counties_df['county_population'].astype(int)

In [23]:
table_counties_df.dtypes

county_zipcode        int64
county_name          object
county_population     int64
dtype: object

In [25]:
table_counties_df.to_csv('Table_Counties_Data.csv', encoding="utf-8")