# SQL Data Cleaning

In [1]:
import pandas as pd
import getpass
import sqlalchemy as sa

In [2]:
driver = 'mysql+pymysql'
user = 'root'
password = getpass.getpass(prompt='Your password:'"")
ip = '127.0.0.1'

Your password:········

In [6]:
connection_string = f'{driver}://{user}:{password}@{ip}'

In [7]:
db_connection = sa.create_engine(connection_string)
print(db_connection)

Engine(mysql+pymysql://root:***@127.0.0.1)

In [8]:
insp = sa.inspect(db_connection)
db_list = insp.get_schema_names()
print(db_list)

['Apps', 'bank', 'Customer_Analysis', 'information_schema', 'lab_db', 'lab_db_python_sql', 'mysql', 'performance_schema', 'sakila', 'sys', 'test_db']

In [9]:
marketing_analysis = pd.read_sql_query('SELECT * FROM lab_db_python_sql.data_marketing_customer_analysis_round2;', db_connection)
marketing_analysis.head()

,MyUnknownColumn,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,nan
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,nan
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,nan