# Data Cleaning

In [3]:
### import pandas
import pandas as pd

In [4]:
### read the file
df = pd.read_csv("mtcars.csv")

In [5]:
df.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Rear_Axle_Ratio,Weight (000),Qtr_Mile_Time,Engine_Shape,Transmission,Fwd_Gears,Carburators
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [6]:
df.shape

(32, 12)

1. Data Quality Plan

In [ ]:
### Get a description of the dataframe and its main content

In [ ]:
### Check the datatypes
# df.dtypes

In [ ]:
###

2. Standardize Header and Input

In [ ]:
### standardize header to lower or upper cases or use title conventions
df.columns = df.columns.str.title()
df.columns = df.colums.str.upper()
df.colums = df.colums.str.lower()

3. Validate the Accuracy of the Data

In [ ]:
### Reduce values to specific categories (eliminating typing errors etc.)

4. Identify and eliminate Duplicats

5. Append the Data