## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [50]:
import random

sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[15, 85, 17, 46, 35, 40, 7, 18, 82, 42, 73, 66, 54, 33, 63, 93, 5, 38, 48, 20, 65, 24, 45, 26, 52, 8, 88, 83, 1, 3, 84, 43, 34, 97, 64, 55, 79, 21, 27, 72, 39, 98, 12, 69, 91, 56, 77, 32, 71, 59, 9, 81, 57, 0, 96, 58, 95, 90, 44, 29, 53, 94, 80, 41, 99, 25, 13, 67, 2, 30, 47, 16, 14, 19, 86, 70, 50, 6, 10, 28]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [51]:
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 59, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [88]:
import random

sample_list_2 = random.sample(range(100), 80)
print(sample_list_2)

# How do I manage to add duplicates? random.choices didn't work.

[77, 43, 18, 85, 7, 76, 81, 74, 1, 10, 63, 64, 48, 52, 2, 11, 45, 91, 9, 41, 34, 92, 40, 97, 54, 30, 82, 21, 32, 22, 88, 80, 71, 93, 8, 39, 29, 60, 79, 51, 5, 78, 31, 14, 73, 16, 72, 38, 57, 0, 94, 27, 65, 84, 4, 59, 25, 75, 87, 46, 15, 24, 90, 56, 42, 68, 70, 69, 98, 20, 44, 37, 53, 96, 95, 89, 67, 3, 86, 66]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [89]:
set2 = set(sample_list_2)
print(set2)
len(set2)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 14, 15, 16, 18, 20, 21, 22, 24, 25, 27, 29, 30, 31, 32, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 56, 57, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [100]:
set1.symmetric_difference_update(set2)
print(set1)

{6, 12, 13, 17, 19, 26, 28, 4, 22, 33, 35, 31, 37, 47, 50, 55, 58, 51, 11, 60, 68, 76, 74, 83, 75, 78, 87, 92, 89, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [102]:
set2.symmetric_difference_update(set1)
print(set2)

{0, 1, 2, 3, 5, 7, 8, 9, 10, 14, 15, 16, 18, 20, 21, 4, 22, 24, 25, 27, 29, 30, 32, 34, 31, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 52, 53, 54, 56, 57, 11, 59, 51, 60, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 68, 77, 76, 79, 80, 81, 82, 75, 84, 85, 86, 78, 88, 89, 90, 91, 87, 93, 94, 95, 96, 97, 98, 92}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [105]:
set1.intersection_update(set2)
print(set1)

{4, 37, 68, 74, 11, 76, 75, 78, 92, 51, 22, 87, 89, 60, 31}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [111]:
set6 = {}
set6.update(set3, set5)

AttributeError: 'int' object has no attribute 'clear'

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [115]:
set1_contains_set2 = set1.issubset(set2)
print(set1_contains_set2)

set1_contains_set3 = set1.issubset(set3)
print(set1_contains_set3)

True

TypeError: 'bool' object is not iterable

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [123]:
print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 14, 15, 16, 18, 20, 21, 22, 24, 25, 27, 29, 30, 31, 32, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 56, 57, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

#### Using the `pop` method, remove an element from `set1`.

In [125]:
set1.pop()

37

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [128]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove.remove(set1)

ValueError: list.remove(x): x not in list