# Try and Fail

In [1]:
import pandas as pd
import numpy as np

In [7]:
table_counties_df = pd.read_csv('Table_Counties_Data.csv', sep=',')

In [8]:
table_counties_df.head()

   Unnamed: 0  county_zipcode  county_name  county_population
0           0           98001       Auburn              31911
1           1           98002       Auburn              31647
2           2           98003  Federal Way              44151
3           3           98004     Bellevue              27946
4           4           98005     Bellevue              17714

In [9]:
table_counties_df.shape

(84, 4)

In [10]:
table_counties_df.dtypes

Unnamed: 0            int64
county_zipcode        int64
county_name          object
county_population     int64
dtype: object

In [11]:
table_counties_df.dropna(inplace = True)

In [25]:
table_counties_df.to_csv('Table_Counties_Data.csv', encoding="utf-8")

In [13]:
grouped_houses_df = pd.read_csv("Data-Cleaned_MidTermProject_Real-State-Regression.csv")

In [15]:
grouped_houses_df.head()

,Unnamed: 0,bedrooms,bathrooms,house_floors,kcgs_waterfront,kcgs_view,kcgs_condition,kcgs_grade,year_construction,year_renovation,zip_code,price,m2_living,m2_lot
0,0,7,8,3,0,4,3,12,1999,0,98053,2280000,1258,28601
1,1,6,8,3,0,3,4,13,1910,1987,98102,7700000,1120,2565
2,2,5,5,2,1,2,3,11,1940,2001,98004,7060000,933,3469
3,3,6,8,2,0,4,3,13,2001,0,98039,6890000,919,2916
4,4,5,7,1,1,4,3,12,1983,2009,98040,4670000,896,1214

In [41]:
grouped_houses_df.groupby('zip_code')['price'].apply(list)

zip_code
98001    [850000, 637000, 510000, 549950, 430000, 55290...
98002    [389000, 370000, 265000, 292000, 300000, 28800...
98003    [740000, 950000, 452000, 472000, 465000, 55000...
98004    [7060000, 5350000, 3800000, 3000000, 4490000, ...
98005    [1300000, 975000, 1900000, 975000, 1040000, 90...
                               ...
98177    [2890000, 2420000, 1330000, 2880000, 3800000, ...
98178    [800000, 625000, 430000, 612000, 415000, 44500...
98188    [598800, 530000, 489000, 500000, 469000, 70700...
98198    [1350000, 770000, 392000, 575000, 340000, 4550...
98199    [3200000, 1570000, 2800000, 2950000, 1300000, ...
Name: price, Length: 70, dtype: object

In [43]:
grouped_houses_df['cheap_houses'] = np.nan
grouped_houses_df['middle_priced_houses'] = np.nan
grouped_houses_df['expensive_houses'] = np.nan

In [45]:
grouped_houses_df.head()

,Unnamed: 0,bedrooms,bathrooms,house_floors,kcgs_waterfront,kcgs_view,kcgs_condition,kcgs_grade,year_construction,year_renovation,zip_code,price,m2_living,m2_lot,cheap_houses,middle_priced_houses,expensive_houses
0,0,7,8,3,0,4,3,12,1999,0,98053,2280000,1258,28601,NaN,NaN,NaN
1,1,6,8,3,0,3,4,13,1910,1987,98102,7700000,1120,2565,NaN,NaN,NaN
2,2,5,5,2,1,2,3,11,1940,2001,98004,7060000,933,3469,NaN,NaN,NaN
3,3,6,8,2,0,4,3,13,2001,0,98039,6890000,919,2916,NaN,NaN,NaN
4,4,5,7,1,1,4,3,12,1983,2009,98040,4670000,896,1214,NaN,NaN,NaN

In [48]:
grouped_houses_df.groupby(['cheap_houses', 'zip_code']).mean()

Empty DataFrame
Columns: [Unnamed: 0, bedrooms, bathrooms, house_floors, kcgs_waterfront, kcgs_view, kcgs_condition, kcgs_grade, year_construction, year_renovation, price, m2_living, m2_lot, middle_priced_houses, expensive_houses]
Index: []

In [50]:
grouped_houses_df.groupby('zip_code').agg({'cheap_houses':lambda x: list(x) if mean('price') <= 400000})

SyntaxError: invalid syntax (<ipython-input-50-3fe213e63c38>, line 1)

In [51]:
cheap_houses = grouped_houses_df['price'] <= 400000
middle_priced_houses = grouped_houses_df['price'] <= 900000
cheap_houses = grouped_houses_df['price'] > 40000

grouped_houses_df.groupby('zip_code').agg({'price': lambda x: x.tolist()})

                                                      price
zip_code
98001     [850000, 637000, 510000, 549950, 430000, 55290...
98002     [389000, 370000, 265000, 292000, 300000, 28800...
98003     [740000, 950000, 452000, 472000, 465000, 55000...
98004     [7060000, 5350000, 3800000, 3000000, 4490000, ...
98005     [1300000, 975000, 1900000, 975000, 1040000, 90...
...                                                     ...
98177     [2890000, 2420000, 1330000, 2880000, 3800000, ...
98178     [800000, 625000, 430000, 612000, 415000, 44500...
98188     [598800, 530000, 489000, 500000, 469000, 70700...
98198     [1350000, 770000, 392000, 575000, 340000, 4550...
98199     [3200000, 1570000, 2800000, 2950000, 1300000, ...

[70 rows x 1 columns]

In [53]:
def grouped_prices(x):
   grouped_houses = {
       'mean_cheap_houses': lambda x[x[mean('price') if mean('price') <= 400000],   
       'mean_middle_priced_houses': x[x[mean('price') if mean('price') <= 900000], 
       'mean_expensive_houses': x[x[mean('price') if mean('price') > 900000]}

   return pd.Series(names, index=['mean_cheap_houses','mean_middle_priced_houses','mean_expensive_houses'])

grouped_houses_df.groupby(['zip_code']).apply(x)

SyntaxError: invalid syntax (<ipython-input-53-d6c8e6c31261>, line 3)

In [64]:
def grouped_middle_prices(x):
    grouped_houses = {
       cheap_area: median(x),   
       middle_priced_area: median(x), 
       expensive_area: median(x)}
                                  
    if x <= 400000:
        return cheap_area
    elif x >= 900000 and x > 400000:
        return middle_priced_area
    elif x > 900000:
        return expensive_area

grouped_houses_df.groupby(['zip_code']).agg({'price':grouped_middle_prices})

NameError: name 'cheap_area' is not defined

In [17]:
cheap_houses['zip_code'] = list(map(lambda x: 'cheap_houses' if ('price' <= 400000) else x, cheap_houses['zip_code']))

TypeError: list indices must be integers or slices, not str