# Try and Fail

In [126]:
import pandas as pd
import numpy as np

In [128]:
real_estate_df = pd.read_csv('Data_MidTermProject_Real-State-Regression.csv', sep=';')

In [129]:
real_estate_df.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,1225069038,05.05.14,7,8,13540,307752,3,0,4,3,...,9410,4130,1999,0,98053,"47,6675","-121,986",4850,217800,2280000
1,6762700020,13.10.14,6,8,12050,27600,"2,5",0,3,4,...,8570,3480,1910,1987,98102,"47,6298","-122,323",3940,8800,7700000
2,9808700762,11.06.14,5,"4,5",10040,37325,2,1,2,3,...,7680,2360,1940,2001,98004,"47,65","-122,214",3930,25449,7060000
3,9208900037,19.09.14,6,"7,75",9890,31374,2,0,4,3,...,8860,1030,2001,0,98039,"47,6305","-122,24",4540,42730,6890000
4,1924059029,17.06.14,5,"6,75",9640,13068,1,1,4,3,...,4820,4820,1983,2009,98040,"47,557","-122,21",3270,10454,4670000

In [130]:
real_estate_df['bathrooms'] = real_estate_df['bathrooms'].str.replace(',','.')

In [131]:
real_estate_df['bathrooms'].head()

0       8
1       8
2     4.5
3    7.75
4    6.75
Name: bathrooms, dtype: object

In [132]:
real_estate_df['bathrooms']=real_estate_df['bathrooms'].astype(float)

In [150]:
np.ceil(real_estate_df['bathrooms'])

0        8.0
1        8.0
2        4.0
3        7.0
4        6.0
        ...
21592    0.0
21593    0.0
21594    1.0
21595    0.0
21596    0.0
Name: bathrooms, Length: 21597, dtype: float64

In [144]:
real_estate_df['bathrooms'].head()

0    8
1    8
2    4
3    7
4    6
Name: bathrooms, dtype: int64